<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667898848120-bghcuahub436d1ilvioeos5rdb4po3v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667898848120-bghcuahub436d1ilvioeos5rdb4po3v1</string>
	<key>API_KEY</key>
	<string>AIzaSyCFpfNAPaaVZlrPzTv3PzRD5_LgPD6vdoM</string>
	<key>GCM_SENDER_ID</key>
	<string>667898848120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonny.LMessenger</string>
	<key>PROJECT_ID</key>
	<string>lmessenger-731f6</string>
	<key>STORAGE_BUCKET</key>
	<string>lmessenger-731f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667898848120:ios:c5970fcde06d2cea7cde8d</string>
</dict>
</plist>